<!DOCUTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>paiza bbs</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    </head>
    <body>
        <header>
            <div class="nav-top">
                <a href="" class="logo">KEG</a>
                <nav>
                    <ul>
                        <li><a href="">about</a></li>
                        <li><a href="">skill</a></li>
                        <li><a href="">blog</a></li>
                        <li><a href="">contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="center">
                <div class="top">
                    <p class="text-center">Certificate I'm here</p>
                    <p class="text-right">of 椎名あいす</p>
                </div>
            </div>
            <!--<p class="none">portfolio of 椎名あいす</p>左下とかに表示させたい。-->
        </header>
        <section class="about">
            <h1>About</h1>
            <div class="about-main">
                <div class="myface">
                    <img src="{% static 'img/myface.jpg' %}" alt="myface">
                </div>
                <div class="about-info">
                    <p>平成11年生まれの21歳ニートの椎名あいす( @twitter )と申します。</p>
                    <br>
                    <p>社会人歴（ IT業界 )1年です。</p>
                    <br>
                    <p>
                        プログラミング自体は、14歳から始めてました。<br>
                        それから何度も挫折を重ね、19歳に中途でシステム開発系に就職しました。<br>
                        3ヶ月は研修をこなし、残りは医療システムの受託開発に携わりました。
                    </p>
                    <br>
                    <p>今現在は、FXで生計を立てています。</p>
                    <br>
                    <p>
                        趣味は、プログラミングや料理、作詞作曲をして弾き語りをしています。<br>
                        新しい知識を吸収して、自分だけの物を作ることが生きがいです。
                    </p>
                    <br>
                    <p><span class="sub">私は、ココにいる！</span></p>
                </div>
            </div>
        </section>
        <section class="skill">
            <h1>Skills</h1>
            
        </section>
        <section class="blog">
            <h1>Blog</h1>
        </section>
        <footer>
            <address></address>
        </footer>
    </body>
</html>
